.ranking-pang-tabs {
	display: flex;
	cursor: pointer;
	justify-content: flex-start;
	align-items: center;
	background-color: "white";
	padding: 48px 0% 24px;
}

.active-font {
	font-size: 24px;
	font-family: Microsoft YaHei UI-Bold, Microsoft YaHei UI;
	font-weight: bold;
	color: #2A2B30;
	line-height: 40px;
	letter-spacing: 1px;
}

.normal-font {
	font-size: 16px;
	font-family: Microsoft YaHei UI-Regular, Microsoft YaHei UI;
	font-weight: 400;
	color: #6E7184;
	line-height: 28px;
	letter-spacing: 1px;
}

.ranking-pang-table-div {
	background: white;
	width: 100%;
	height: 1000px;
}

.ranking-pang-table>.react-bootstrap-table>.table {
	min-width: max-content;
}

.ranking-pang-table>.react-bootstrap-table>.table>tbody {
	vertical-align: middle;
}

.ranking-pang-table>.react-bootstrap-table>.table>:not(:last-child)>:last-child>* {
	border-bottom-color: aliceblue;
}

.ranking-pang-table>.react-bootstrap-table>tbody,
td,
tfoot,
thead,
tr {
	border-color: inherit;
	border: 0;
}

.ranking-pang-table>.react-bootstrap-table>table>thead>tr>th {
	font-size: 14px;
	font-family: Microsoft YaHei UI-Regular, Microsoft YaHei UI;
	font-weight: 400;
	color: #6E7184;
	line-height: 24px;
	background: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	padding: 24px 0;
	text-align: center;
}

.ranking-pang-table>.react-bootstrap-table>table>thead>tr>th:nth-child(3) {
	width: 24px;
	height: 24px;
	/* background: url("/Group 699.png"); */
	background-repeat: no-repeat;
	background-position-x: 70.75%;
	background-position-y: center;
}

.ranking-pang-table>.react-bootstrap-table>table>thead>tr>th:nth-child(4) {
	width: 24px;
	height: 24px;
	/* background: url("/Group 699.png"); */
	background-repeat: no-repeat;
	background-position-x: 70.75%;
	background-position-y: center;
}


.ranking-pang-table>.react-bootstrap-table>table>thead>tr>th:nth-child(5) {
	width: 24px;
	height: 24px;
	/* background: url("/Group 699.png"); */
	background-repeat: no-repeat;
	background-position-x: 70.75%;
	background-position-y: center;
}