.rules-modual-title {
	font-size: 24px;
	font-family: Microsoft YaHei UI-Bold, Microsoft YaHei UI;
	font-weight: bold;
	color: #2A2B30;
	line-height: 40px;
	letter-spacing: 1px;
}

.rules-modual-subtitle {
	font-size: 18px;
	font-family: Microsoft YaHei UI-Bold, Microsoft YaHei UI;
	font-weight: bold;
	color: #2A2B30;
	line-height: 32px;
}

.rules-modual-label {
	font-size: 16px;
	font-family: Microsoft YaHei UI-Regular, Microsoft YaHei UI;
	font-weight: 400;
	color: #2A2B30;
	line-height: 28px;
}

.rules-modual-value {
	font-size: 14px;
	font-family: Microsoft YaHei UI-Regular, Microsoft YaHei UI;
	font-weight: 400;
	color: #6E7184;
	line-height: 24px;
	width: 94.06%;
}