.contact a:visited {
    color: #337ab7;
}

.contact a:link {
    color: #337ab7;
}

/* .flex-center-margin {
    margin-right: 12.5%;
} */

.btn-social-icon {
    font-size: 20px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    flex: 1;
    /* width: 300px;
    height: 400px; */
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.02), 0px 2px 4px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px 1px rgba(0, 0, 0, 0.02), 0px 16px 32px 1px rgba(0, 0, 0, 0.02), 0px 32px 64px 1px rgba(0, 0, 0, 0.02);
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
}

/* .introduction-box1>.flex-center {
    margin-top: 0px;
} */

@media screen and (max-width: 650px) {
    .box-image {
        margin-top: 0px !important;
    }
}

/* @media screen and (max-width: 470px) {
    .introduction-box1>.flex-center {
        margin-top: 20px !important;
    }
} */


.contact-center {
    position: relative;
    width: 74.4%;
    align-items: center;
    margin-left: 12%;
    top: 35%;

}

.zishiying {
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.cooperation-box {
    align-items: center;
    margin: 3% 0 3% 0%;
    transform: translate(0%, 0%);
    z-index: 2;
    padding: 15px;
    border-style: solid;
    border-color: rgba(51, 122, 183, 0.1);
    border-width: thin;
    border-radius: 5px;
    box-shadow: 0 12px 12px 0 #d3d3d3;
    box-sizing: border-box;
    background-color: white;

}



.bottom-cover-picture {
    /* width: 62.5%; */
    height: max-content;
    /* margin-left: 18.75%; */
    margin-top: 80px;
    padding-bottom: 120px;
}

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 1;
}

.cover-corperation {
    width: 100%;
    height: max-content;
    background-color: #F2F2F2;
}

.contact-form {
    width: 70%;
    height: max-content;
    margin-left: 18%;
}


@media screen and (max-width: 1500px) {

    /* .bottom-cover-picture {
        width: 85%;
        margin-left: 10%;
    } */
    .margin-left-right {
        margin: 0px 15% !important;
    }
}

@media screen and (max-width: 1350px) {
    /* .flex-center-margin {
        margin-right: 12%;
    } */

    .margin-left-right {
        margin: 0px 12% !important;
    }
}

@media screen and (max-width: 1150px) {
    /* .flex-center-margin {
        margin-right: 10%;
    } */
}

@media screen and (max-width: 1050px) {

    /* .flex-center-margin {
        margin-right: 6%;
    } */
    .margin-left-right {
        margin: 0px 8% !important;
    }
}


@media screen and (max-width: 750px) {
    /* .flex-center-margin {
        margin: 5%;
    } */
}

@media screen and (max-width: 470px) {
    /* .flex-center-margin {
        margin: 8%;
    } */
}


@media screen and (max-width: 1300px) {
    /* .bottom-cover-picture {
        width: 85%;
        margin-left: 10%;
    } */
}

@media screen and (max-width: 900px) {
    /* .bottom-cover-picture {
        width: 100%;
        margin-left: 13%;
    } */
}