.review-title {
  width: 100%;
  height: max-content;
  background-color: white;
}

.review-picture {
  width: 61.8%;
  height: max-content;
  margin-left: 20%;
}

.btn-groups {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 28px 28px 28px 28px;
}

.review-icon-wrapper{
  position: relative;
  top: 50px;
  left: 60px;
  text-align: end;
}

.review-icon-wrapper-bottom{
  position: relative;
  top: -50px;
  right: 60px;
}



.image-banner {
  width: 100%;
  background: #F5F6F8;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: 1px solid;
}

@media screen and (max-width: 960px) {
  .review-picture {
    width: 80%;
    height: max-content;
    margin-left: 10%;
  }

}

@media screen and (max-width: 650px) {
  .review-picture {
    width: 95%;
    height: max-content;
    margin-left: 2.5%;
  }

}
