
.share{
	margin: 48px 48px;
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	height: 660px;
	overflow: auto;
}

.share-div{
	width: 360px;
	height: 324px;
	background: #F5F6F8;
	border-radius: 4px 4px 4px 4px;
	opacity: 1;
	margin-right: 12px;
	margin-top: 12px;
	
}


.share-div-title {
	font-size: 20px;
	font-family: Microsoft YaHei UI-Bold, Microsoft YaHei UI;
	font-weight: bold;
	color: #2A2B30;
	line-height: 36px;
	letter-spacing: 1px;
}

.share-div-centent {
	display: flex;
	align-items: center;
	width: 74.078%;
	height: 60px;
	border-radius: 4px 4px 4px 4px;
	opacity: 1;
	border: 1px solid #C0C3CE;
	margin-bottom: 12px
}

.share-div-filename {
	font-size: 14px;
	font-family: Microsoft YaHei UI-Regular, Microsoft YaHei UI;
	font-weight: 400;
	color: #2A2B30;
	line-height: 24px;
}

.share-dive-filesize {
	font-size: 12px;
	font-family: Microsoft YaHei UI-Regular, Microsoft YaHei UI;
	font-weight: 400;
	color: #9C9EAC;
	line-height: 20px;
}

@media screen and (max-width: 1200px) {
  .share {
    margin: 0px 12px;
		justify-content: space-between;
		padding: 15px 12px;
		padding-left: 0px;
  }

	.share-div{
		flex: 0 0 48%;
		margin-left: 0px !important;
		margin-top: 12px
	}
}

@media screen and (max-width: 600px) {
  .share {
    /* margin: 0px 24px; */
		justify-content: space-between;
		padding: 15px 12px;
  }

	.share-div{
		flex: 0 0 98%;
		margin-left: 0px !important;
		margin-top: 12px
	}
}