.file-upload-wrapper {
  margin-top: 24px;
  background: #FFFFFF;
  width: 100%;
  padding: 60px 0px 60px 48px;
}

.file-upload-text {
  font-size: 14px;
  font-family: "Futura-Medium, Futura";
  font-weight: 500;
  color: #6E7184;
  line-height: 24px;
}

.upload-btn{
  margin-top: 36px;
}

.file-submit-btn{
  margin-top: 60px;
}