/******** FOOTER *******/
footer {

  width: 100%;
  height: 120px;
  padding-top: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
  background-color: #F5F6F8;
  border-top: 1px solid #E5E8EE;
  position: relative;
  z-index: 100;
}

.line {
  width: 100%;
  height: 1px;
  background: #E5E8EE;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
}

.footer-footer {
  font-size: 14px;
  font-weight: 300;
  font-family: Microsoft YaHei UI-Light, Microsoft YaHei UI;
  color: #C0C3CE;
}