.header-menu {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  color: #6E7184;
  position: relative;
  top: -16px;
  border-radius: 4px;
  width: 96px;
}

.menu-item {
  font-size: 14px;
  font-family: "Microsoft YaHei UI-Regular, Microsoft YaHei UI";
  font-weight: 400;
  line-height: 24px;
  padding: 12px 21px;
}

.menu-item-home {
  padding: 12px 17px;
}

.menu-item:hover {
  background: #EEF0F4;
  color: #2A2B30;
}

.notice-dot{
  width: 7px;
	height: 7px;
	background: #1442ED;
	border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 3px;
}

@media screen and (max-width: 1350px) {

  .menu-item-home {
   font-size: 12px
  }
}

@media screen and (max-width: 1350px) {

  .menu-item-home {
   font-size: 12px
  }
}
