
.finance-title {
	font-size: 60px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 70px;
	letter-spacing: 3px;
}

.finance-title-top {
	padding-top: 120px;
	padding-left: 18.78%;
}

.finance-date-div-first {
	width: 32.25%;
	height: 240px;
	background: rgba(255, 255, 255, 0);
	border-radius: 0px 0px 0px 0px;
	opacity: 1;
	text-align: center;
}

.finance-title-span-first {
	font-size: 30px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 35px;
	letter-spacing: 1px;
	padding-top: 20px;
}

.finance-title-span-two {
	font-size: 16px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #C0C3CE;
	line-height: 19px;
	text-align: center;
}

.finance-title-imgage {
	padding-top: 36px;
	padding-bottom: 108px;
}

.finance-title-imgage-div-first {
	font-size: 24px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 40px;
	letter-spacing: 1px;
	padding-top: 52px;
}

.finance-title-imgage-div-two {
	font-size: 16px;
	font-family: Songti SC-Regular, Songti SC;
	font-weight: 400;
	color: #6E7184;
	line-height: 28px;
	padding-top: 12px;
}

.finance-note {
	height: 28px;
	font-size: 16px;
	font-family: Songti SC-Regular, Songti SC;
	font-weight: 400;
	color: #9C9FB0;
	line-height: 28px;
	-webkit-background-clip: text;
	padding-left: 37.23%;
	padding-top: 120px;
}

.finance-title-two {
	height: 60px;
	font-size: 36px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 60px;
	letter-spacing: 1px;
	-webkit-background-clip: text;
}

.finance-title-top-two {
	padding-top: 80px;
	padding-left: 18.78%;
	padding-bottom: 240px;
}



.finance-bottom-text {
	height: 30px;
	font-size: 18px;
	font-family: Songti SC-Regular, Songti SC;
	font-weight: 400;
	color: #5D5F6D;
	line-height: 30px;
}

.finance-bottom-text-fist {
	padding-top: 30px;
}
.finance-bottom-text-two {
	padding-top: 35px;
}
