.awards-card-container {
  flex: 0 0 30%;
  margin-top: 60px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.02), 0px 2px 4px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px 1px rgba(0, 0, 0, 0.02), 0px 16px 32px 1px rgba(0, 0, 0, 0.02), 0px 32px 64px 1px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  height: max-content;
}

.gray-bg {
  background: #F5F6F8;
}

.introduce {
  position: relative;
  background: #FFFFFF;
  width: "100%";
}

.line-container {
  position: relative;
  margin-top: 0px;
  /* margin-bottom: 48px; */
  background-color: #F5F6F8;
  z-index: 991;

}

.match-bottom-wrapper {
  position: relative;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  z-index: 990;
}

.introduce-content {
  height: max-content;
}

.introduce-mark {
  margin: 0px 25%;
  padding: 46px 0px 46px 0px;
  position: relative;
}

.top-image {
  position: relative;
  left: -36px;
  top: 20px;
}

.bottom-image {
  text-align: end;
  position: relative;
  left: 36px;
  top: -20px;
}

.center-content {
  font-size: 28px;
  font-family: Songti SC-Regular, Songti SC ,宋体;
  font-weight: 400;
  color: #3D3F4E;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center
}

.match {
  margin: 0px 18.75%;
  /* padding-bottom: 120px; */
  display: flex;
  flex-direction: column;
}




.left {
  /* border-right: 1px solid #E5E8EE; */
  width: 50%;
  padding: 120px 0px;
}

.right {
  width: 50%;
}

.match-text {
  font-size: 60px;
  font-family: "Songti SC-Bold, Songti SC, 宋体";
  font-weight: bold;
  color: #2A2B30;
  line-height: 70px;
  letter-spacing: 3px;
}

.left-round {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 80px;
  position: relative;
}

.time-wrapper {
  padding: 80px 65px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.month {
  /* width: 99px;
  height: 80px; */
  font-size: 60px;
  font-family: Futura;
  font-weight: 500;
  color: #2A2B30;
  line-height: 70px;
  letter-spacing: 3px;
}

.year {
  /* width: 63px;
height: 32px; */
  font-size: 24px;
  font-family: Futura;
  font-weight: 500;
  color: #C0C3CE;
  line-height: 28px;
  letter-spacing: 1px;
  margin-left: 8px;
}

.round {
  background-color: #F5F6F8;
  border-radius: 999px;
  margin-left: 39.254%;
}

.left-line {
  flex: 1;
  background: #E5E8EE;
  height: 1px;
}

.icon-wrapper {
  position: absolute;
  right: -12px;
}

.match-begin-text {
  font-size: 24px;
  font-family: Songti SC-Bold, Songti SC, 宋体;
  font-weight: bold;
  color: #2A2B30;
  line-height: 28px;
  letter-spacing: 1px;
}

.match-begin {
  margin-top: 505px;
  display: flex;
}

.right-line {
  width: 144px;
  height: 1px;
}

.match-end {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  margin-top: 143px;
}

.match-end-text {
  font-size: 24px;
  font-family: Songti SC-Bold, Songti SC, 宋体;
  font-weight: bold;
  color: #2A2B30;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: end;
}

.match-end-content {
  margin-top: 12px;
  font-size: 16px;
  font-family: Songti SC-Regular, Songti SC ,宋体;
  font-weight: 400;
  color: #6E7184;
  line-height: 28px;
  display: flex;
  text-align: end;
  flex-direction: column;
  letter-spacing: 1px;
}

.match-bottom-details {
  font-size: 16px;
  font-family: Songti SC-Regular, Songti SC ,宋体;
  font-weight: 400;
  color: #2A2B30;
  line-height: 28px;
  text-align: end;
  letter-spacing: 2px;
}

.match-bottom-rules {
  font-size: 16px;
  font-family: Songti SC-Regular, Songti SC ,宋体;
  font-weight: 400;
  color: #1442ED;
  line-height: 28px;
  letter-spacing: 2px;
  cursor: pointer;
}

.match-bottom-rules:hover {
  border-bottom: 1px solid;
}

.bg {
  background-color: #E5E8EE;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative
}

.icon-wrapper-left {
  position: absolute;
  left: -12px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative
}

.finals-name {
  display: flex;
  margin-top: 145px;
}

.finals-name-container {
  flex: 1;
}

.awards-content {
  position: relative;
  margin: 0px 18.75%;
  background-color: #F5F6F8;
  padding: 24px 0px;
  z-index: 899;
}

.awards-title {
  font-size: 60px;
  font-family: Songti SC-Bold, Songti SC, 宋体;
  font-weight: bold;
  color: #2A2B30;
  line-height: 70px;
  letter-spacing: 3px;
}

.awards-text {
  margin-top: 12px;
  font-size: 16px;
  font-family: Songti SC-Regular, Songti SC ,宋体;
  font-weight: 400;
  color: #6E7184;
  line-height: 28px;
}

.awards-card-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}


.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




.awards-card-container-small {
  flex: 0.9;
  margin-top: 60px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.02), 0px 2px 4px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px 1px rgba(0, 0, 0, 0.02), 0px 16px 32px 1px rgba(0, 0, 0, 0.02), 0px 32px 64px 1px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  height: max-content;
}





.awards-card {
  padding: 36px;
}

.awards-center {
  text-align: center;
}

.ranking {
  font-size: 24px;
  font-family: Songti SC-Bold, Songti SC, 宋体;
  font-weight: bold;
  color: #2A2B30;
  line-height: 28px;
  letter-spacing: 1px;
}



.awards-pic {
  margin-top: 35px;
  /* border-radius: 120px; */
}

.award-content {
  margin-top: 35px;
  font-size: 16px;
  font-family: Songti SC-Bold, Songti SC, 宋体;
  /* font-weight: bold; */
  color: #3D3F4E;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400
}

.other-awards {
  margin-top: 120px;
}

.tips-end {
  font-size: 16px;
  font-family: Songti SC-Regular, Songti SC ,宋体;
  font-weight: 400;
  color: #9C9FB0;
  line-height: 28px;
  margin-top: 120px;
  text-align: end;
  letter-spacing: 1px;
}

.tips-center {
  font-size: 16px;
  font-family: Songti SC-Regular, Songti SC ,宋体;
  font-weight: 400;
  color: #9C9FB0;
  line-height: 28px;
  margin-top: 120px;
  text-align: center;
  letter-spacing: 1px;
}


.match-ranking {
  margin-top: 80px;
}

.nine-point-nine{
  margin-top: 138px;
}

.six-one{
  margin-top: 221px;
}

.nine-two{
  margin-top: 143px;
}



@media screen and (max-width: 1650px) {
  .match {
    margin: 0px 14%;
  }

  .awards-content {
    margin: 0px 14%;
  }

  .match-end {
    margin-right: 120px;
  }

  .right-line {
    width: 124px;
  }

  .introduce-mark {
    margin: 0px 20%;
  }
}

@media screen and (max-width: 1350px) {
  .match {
    margin: 0px 10%;
  }

  .awards-content {
    margin: 0px 10%;
  }

  .match-end {
    margin-right: 90px;
  }

  .right-line {
    width: 100px;
  }

  .introduce-mark {
    margin: 0px 16%;
  }

  .time-wrapper {
    padding: 70px 55px
  }

  .month {
    font-size: 50px;
    line-height: 55px;
  }

  .match-text {
    font-size: 50px;
    line-height: 55px;
  }

  .match-begin {
    margin-top: 467px;
  }

  .finals-name {
    margin-top: 131px;
  }

  .awards-title {
    font-size: 50px;
  }

  .ranking {
    font-size: 20px;
  }

  .awards-card {
    padding: 24px;
  }

  .center-content {
    font-size: 24px;
  }


}

@media screen and (max-width: 1200px) {
  .match {
    margin: 0px 5%;
  }

  .awards-content {
    margin: 0px 5%;
  }

  .match-end-content {
    font-size: 14px;
  }

  .match-begin {
    margin-top: 442px;
  }

  .match-end {
    margin-right: 70px;
  }

  .round {
    margin-left: 50%
  }

  .match-text {
    font-size: 40px;
    line-height: 45px;
  }

  .match-begin-text {
    font-size: 20px;
  }

  .match-end-text {
    font-size: 20px;
  }

  .month {
    font-size: 40px;
    line-height: 45px;
  }

  .right-line {
    width: 80px;
  }

  .finals-name {
    margin-top: 137px;
  }

  .nine-point-nine{
    margin-top: 132px
  }

  .awards-title {
    font-size: 40px;
  }

  .award-content {
    font-size: 14px;
  }

  .ranking {
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  .nine-two{
    margin-top: 130px ;
  }
}

@media screen and (max-width: 900px) {

  .nine-two{
    margin-top: 165px;
  }

  .six-one{
    margin-top: 204px;
  }

  .center-content {
    font-size: 20px;
  }

  .match {
    margin: 0px 2%;
  }

  .awards-content {
    margin: 0px 2%;
  }

  .time-wrapper {
    padding: 60px 50px
  }

  .month {
    font-size: 30px;
    line-height: 35px;
  }

  .year {
    font-size: 18px;
  }

  .match-end-content {
    font-size: 14px;
  }

  .match-begin {
    margin-top: 430px;
  }

  .match-end {
    margin-right: 70px;
  }

  .round {
    margin-left: 50%
  }

  .match-text {
    font-size: 40px;
    line-height: 45px;
  }

  .match-begin-text {
    font-size: 20px;
  }

  .match-end-text {
    font-size: 20px;
  }



  .right-line {
    width: 80px;
  }

  .finals-name {
    margin-top: 142px;
  }

  .awards-title {
    font-size: 40px;
  }

  .award-content {
    font-size: 14px;
  }

  .ranking {
    font-size: 18px;
  }
}
