.rules {
	width: 62.5%;
	margin: 120px 18.75% 0 18.75%;
}

.rules-p-two {
	margin-top: 80px;
}

.rules-title {
	height: 60px;
	font-size: 36px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 60px;
	letter-spacing: 1px;
}

.rules-top-30 {
	margin-top: 30px;
}

.rules-title-two {
	height: 36px;
	font-size: 20px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 36px;
	letter-spacing: 1px;
}

.rules-centent {
	font-size: 18px;
	font-family: Songti SC-Regular, Songti SC;
	font-weight: 400;
	color: #5D5F6D;
	line-height: 32px;
}


.rules-top-20 {
	margin-top: 20px;
}

.rules-top-120 {
	margin-top: 120px;
}


.judge-rules-title {
	font-size: 36px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 42px;
	letter-spacing: 1px;
}

.judge-rules-time {
	font-size: 16px;
	font-family: Songti SC-Regular, Songti SC;
	font-weight: 400;
	color: #9C9EAC;
	line-height: 19px;
	margin-top: 6px;
}

.judge-rules-subtitle {
	font-size: 24px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 40px;
	letter-spacing: 1px;
}

.judge-rules-content {
	font-size: 16px;
	font-family: Songti SC-Regular, Songti SC;
	font-weight: 400;
	color: #6E7184;
	line-height: 28px;
	width: 270px;
}

.show-details {
	border-bottom: 2px solid #2A2B30;
	width: 67px;
	margin: 4px 0px 0 36.553%;
	cursor: pointer;
}

.annotations {
	font-size: 16px;
	font-family: Songti SC-Regular, Songti SC;
	font-weight: 400;
	color: #9C9FB0;
	line-height: 28px;
	text-align: center;
	width: 275px;
}

.horizontal-line {
	margin-top: -13px;
	background: #E5E8EE;
	height: 1px;
	width: 100%;
}

.vertical-line {
	border-right: 1px solid #E5E8EE;
	height: 64px;
	width: 50.2%;
}

.pop-up{
	width:381px;
	background: #FFFFFF;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.02), 
				0px 2px 4px 1px rgba(0, 0, 0, 0.02), 
				0px 4px 8px 1px rgba(0, 0, 0, 0.02), 
				0px 8px 16px 1px rgba(0, 0, 0, 0.02), 
				0px 16px 32px 1px rgba(0, 0, 0, 0.02), 
				0px 32px 64px 1px rgba(0, 0, 0, 0.02);
}

.pop-up-text {
	font-size: 16px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #2A2B30;
	line-height: 28px;
}

.pop-up-content {
	font-size: 15px;
	font-family: Songti SC-Bold, Songti SC;
	font-weight: bold;
	color: #9C9FB0;
	line-height: 28px;
}

.judge-rules-li {
	display: flex;
	justify-content: center;
}

.rules-model>.modal-dialog{
	display: flex;
	justify-content: center;
	align-items: center;
}

.rules-model>.modal-dialog>.modal-content{
	width: max-content;
}


