.sign {
  background: #FFFFFF;
  height: max-content;
}

.sign-container {
  display: flex;
}

.sign-left {
  width: 50%;
  padding: 120px 0px 80px 0px;
}

.sign-right {
  /* padding-bottom: 120px 0px; */
  width: 50%;
}

.number-container {
  text-align: end;
  margin-right: 15.417%;
}

.padding120 {
  padding-top: 120px;
}

.number {
  font-size: 60px;
  font-family: Futura;
  font-weight: 500;
  color: #2A2B30;
  line-height: 70px;
  letter-spacing: 3px;
}

.sign-line {
  width: 144px;
  height: 1px;
  background: #E5E8EE;
}

.sign-icon-wrapper {
  position: absolute;
  left: -12px;
}

.step-text {
  margin-left: -18px;
  font-size: 24px;
  font-family: Songti SC-Bold, Songti SC, 宋体;
  font-weight: bold;
  color: #2A2B30;
  line-height: 28px;
  letter-spacing: 2px;
}

.step-icon {
  position: relative;
  top: 16px;
}

.footer-btn-container {
  padding-bottom: 120px;
}

.footer-btn {
  text-align: center;
  margin-top: 48px;
}

.sign-join-match-btn {
  background: linear-gradient(135deg, #2B8CFF 0%, #2346FF 100%);
  padding: 10px 32px;
  font-family: "MicrosoftYaHei ";
  color: #FFFFFF;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 1px 2px 1px rgba(35, 97, 255, 0.08), 0px 2px 4px 1px rgba(35, 97, 255, 0.08), 0px 4px 8px 1px rgba(35, 97, 255, 0.08), 0px 8px 16px 1px rgba(35, 97, 255, 0.08), 0px 16px 32px 1px rgba(35, 97, 255, 0.08);

}

.team-or-person {
  padding-top: 120px;
  display: flex;
}

.person {
  margin-left: 36px;
}

.match-active {
  cursor: pointer;
  font-size: 60px;
  font-family: Songti SC-Bold, Songti SC;
  font-weight: bold;
  color: #2A2B30;
  line-height: 70px;
  letter-spacing: 3px;
}

.match-normal {
  cursor: pointer;
  font-size: 24px;
  font-family: Songti SC-Regular, Songti SC;
  font-weight: 400;
  color: #6E7184;
  line-height: 48px;
  letter-spacing: 2px;
  display: flex;
  align-items: flex-end;
}

.step-text-wrapper{
  position: relative;
  top: 16px;
}

.step-text-instr {
  margin-left: -18px;
  font-size: 16px;
  font-family: Songti SC-Regular, Songti SC;
  font-weight: 400;
  color: #6E7184;
  line-height: 28px;
}

@media screen and (max-width: 1200px) {
  .step-text {
    font-size: 18px;
  }

  .number {
    font-size: 50px;
  }

  .sign-left {
    width: 50%;
  }

  .sign-line {
    width: 100px;
  }
}

@media screen and (max-width: 900px) {
  .step-text {
    font-size: 16px;
  }

  .number {
    font-size: 40px;
  }

  .sign-left {
    width: 50%;
  }

  .sign-line {
    width: 80px;
  }
}