.tabs-wrapper {
  border-bottom: 1px solid #E5E8EE;
  padding-left: 18.75%;
  background: #ffffff;
}

/* .tabs-item{
  color: #f00;;
} */

.nav-tabs {
  border: none;
}

.nav-link {
  color: #6E7184;
  padding: 20px !important;
  border: none !important;
  font-size: 14px;
  line-height: 24px;

  font-family: "Microsoft YaHei UI-Bold, Microsoft YaHei UI";
}


.tabs-wrapper>.nav-item>.active {
  color: #2A2B30 !important;
  font-size: 14px;
  font-family: "Microsoft YaHei UI-Bold, Microsoft YaHei UI";
  background: #ffffff !important;
  font-weight: bold;
  border: none !important;
  line-height: 24px;
  padding: 20px !important;
  text-decoration: none !important
}

.tab-content {
  border-top: 1px solid #E5E8EE;
  margin-top: 1px;
}