.team-center-block{
    width: 70%;
    height: max-content;
    margin-left: 15%;

}

.team-intro-block{
    width: 61.8%;
    height: max-content;
    margin-left: 19.1%;

}

.colored-team{
    background:#F5F6F8;
}

.advisor-box{
    background-color:#24557E;
    text-align: center;
    width:94%;
    margin-left:3%;
    height:180px;
}

.position{
    margin-top: -30px;
}

.ad-box{
    align-items: center;
    margin: 3% 0 3% 0%;
    height:max-content;
    transform: translate(0%, 0%);
    z-index: 2;
    padding: 15px;

}

@media screen and (max-width: 1200px){

    .team-intro-block{
        width: 70%;
        height: max-content;
        margin-left: 15%;
    
    }
  
  
    
    
    
  }

@media screen and (max-width: 1000px){
    .team-center-block{
        width: 80%;
        height: max-content;
        margin-left: 10%;
    
    }
    .team-intro-block{
        width: 80%;
        height: max-content;
        margin-left: 10%;
    
    }
  
  
    
    
    
  }

  @media screen and (max-width: 800px){
    .advisor-box{
        background-color:#24557E;
        text-align: center;
        width:95%;
        margin-left:5%;
        height:max-content;
    } 
    .team-intro-block{
        width: 90%;
        height: max-content;
        margin-left: 5%;
    
    }
  }

  @media screen and (max-width: 600px){
    .team-center-block{
        width: 92%;
        height: max-content;
        margin-left: 4%;
    
    }
    .team-intro-block{
        width: 92%;
        height: max-content;
        margin-left: 4%;
    
    }
  
  
    
    
    
  }