.cover {
  width: 100%;
  height: max-content;
  top: 0;
  position: relative;
}

.left-angle {
  position: relative;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  border-top: 3px solid #73bddd;
  border-left: 3px solid #73bddd;
}

.right-angle {
  position: relative;
  bottom: -33px;
  right: 0px;
  width: 16px;
  height: 16px;
  border-right: 3px solid #73bddd;
  border-bottom: 3px solid #73bddd;
}

.wrapper {
  padding: 8px 0px
}


a {
  text-decoration: none;
  color: #1442ED;
}

a:active {
  border-bottom: 3px solid #1442ED;
  font-weight: bold;
}

.bg-content-center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100%;
}





.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.center {
  margin: 0;
  color: white;
  width: 60%;
  text-align-last: justify;
  text-align: justify;
  text-justify: distribute-all-lines;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetings {
  font-size: 28px;
  color: #73bddd;
  font-weight: 500;
  line-height: 33px;
  font-family: "Futura";
  display: flex;
  justify-content: center;
}

/* .join-match-btn {
  background: linear-gradient(135deg, #2B8CFF 0%, #2346FF 100%);
  padding: 12px 32px;
  font-family: PingFang SC-Semibold, PingFang SC;
  color: #FFFFFF;
  line-height: 16px;
  font-size: 14px;
  border: none;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 1px 2px 1px rgba(35, 97, 255, 0.08), 0px 2px 4px 1px rgba(35, 97, 255, 0.08), 0px 4px 8px 1px rgba(35, 97, 255, 0.08), 0px 8px 16px 1px rgba(35, 97, 255, 0.08), 0px 16px 32px 1px rgba(35, 97, 255, 0.08);
} */

.overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.image-sm{
  padding: 24px;
}

.arrow {
  position: absolute;
  /* bottom: 15%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* display: block;
  text-align: center;
  align-items: center;
  width: max-content; */
  z-index: 1;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

/* .arrow .btn {
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
} */

.arrow:hover .btn {
  transform: scale(1.1);
}

.btn:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 960px) {
  .projects .subheader {
    padding-left: 30px;
    padding-right: 30px;
  }

  .arrow {
    /* position: absolute;
    bottom: 0%;
    display: block;
    text-align: center;
    align-items: center;
    width: max-content;
    z-index: 1; */
    transition: all 0.5s ease;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }

  .arrow .btn {
    /* font-size: 16px; */
    padding: 8px 16px;
    /* width: 100%; */
  }

  .arrow:hover .btn {
    transform: scale(1.1);
  }

  .btn:focus {
    box-shadow: none !important;
  }

  .left-angle {
    top: 5px;
    width: 7px;
    height: 7px;
  }

  .right-angle {
    bottom: -23px;
    width: 7px;
    height: 7px;
  }

  .wrapper {
    padding: 6px 0px
  }
}


@media only screen and (max-width: 1500px) {
  .left-angle {
    width: 13px;
    height: 13px;
  }

  .right-angle {
    bottom: -30px;
    width: 13px;
    height: 13px;
  }

  .wrapper {
    padding: 6px 0px
  }
}

@media only screen and (max-width: 1300px) {
  .left-angle {
    top: 7px;
    width: 10px;
    height: 10px;
  }

  .right-angle {
    bottom: -25px;
    width: 10px;
    height: 10px;
  }

  .wrapper {
    padding: 4px 0px
  }
}

@media only screen and (max-width: 600px) {


  .projects .subheader {
    padding-left: 30px;
    padding-right: 30px;
  }

  .arrow {
    /* position: absolute;
    display: block;
    text-align: center;
    align-items: center;
    width: max-content;
    z-index: 1; */
    /* transition: all 0.5s ease;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    position: absolute;
    bottom: -100px !important; */
  }

  .arrow .btn {
    /* font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px; */
    /* width: 100%; */
  }

  .arrow:hover .btn {
    transform: scale(1.1);
  }

  .btn:focus {
    box-shadow: none !important;
  }

  .left-angle {
    display: none;
  }

  .right-angle {
    display: none;
  }

  .wrapper {
    padding: 0px
  }
}