.side-menu {
    display: flex;
    color: white;
    flex-direction: column;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 8%;
    height: 100%;
    background-color: #26409A;
}

.side-menu-users {
    display: flex;
    flex-direction: column;
    color: white;
    position:fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color:#13297b;
    background-image: radial-gradient(farthest-side at 90% 90%, #284dd2,#13297b);
    opacity: 1;
    z-index: 999;
}

.side-text:hover{
    background-color: #555;
    color: white;
}

.img-center{
    width: 100%;
  }



.row-padding {
    display: flex;
    align-items: center;
    text-align: center;
    height: 3.5rem;
    width: max-content;
    margin-top: 5px;
    margin-left: 3px;
    position: relative;
    

}

.row-padding a.link-row{
  color: white;
}

.row-padding a:hover{
    margin-left: 0.7rem;
    background-color:white;
    color: #26409A;
    border-radius: 25px;
    border-style:double;
    padding-left: 10px;
    padding-right: 10px;
}

.image-contain{
    width: 10%;
    height: max-content;
    position: relative;
}

#app-header {
    background: #f4f7fc;
    top: 0%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    position: fixed;
    border-style:hidden;
    z-index: 999;
  }

.padding-right{
      margin-right: 0%;
  }


/* ////// 用户CSS///////////////////////////////////////////*/




.mybalance-container{
  width:100%;
  margin-left: 0;
  height:max-content;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
}

.Card-css1{
  width:100%;
  position: relative;
  border-radius: 5px;
  align-items: center;
  height: 100px;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.1);
  border-width: thin;
  background-color: #13297b;
  background-image: radial-gradient(farthest-side at 90% 90%, #93bff9,#1f72fa);
  box-shadow: 0 12px 20px 0 #AEAEAE;
  box-sizing: border-box;
}

.Card-css2{
  width:100%;
  position: relative;
  border-radius: 5px;
  height: 100px;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.1);
  border-width: thin;
  background-color: #13297b;
  background-image: radial-gradient(farthest-side at 90% 90%, #f9ae93,#f46c29);
  box-shadow: 0 12px 20px 0 #AEAEAE;
  box-sizing: border-box;
}

.Card-css3{
  width:100%;
  position: relative;
  border-radius: 5px;
  height: 100px;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.1);
  border-width: thin;
  background-color: #13297b;
  background-image: radial-gradient(farthest-side at 90% 90%, #8f91f9,#4144bd);
  box-shadow: 0 12px 20px 0 #AEAEAE;
  box-sizing: border-box;
}


.Card-css4{
  width:100%;
  position: relative;
  border-radius: 5px;
  height: 100px;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.1);
  border-width: thin;
  background-color: #13297b;
  background-image: radial-gradient(farthest-side at 90% 90%, #4bc2cd,#1a958e);
  box-shadow: 0 12px 20px 0 #AEAEAE;
  box-sizing: border-box;
}

.balance-style {
  position: relative;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.1);
  border-width: 0;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 #d3d3d3;
  box-sizing: border-box;
}

.stock-trade-form{
  color:black;
  margin-bottom: 0.2rem
}

.stock-trade-form2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}




/* The parent of two parrellel divs */ 
.balance-parent {
  margin-top: 2%;
  display: flex;
}

.balance-left {
  margin-left: 0;
  width: 100%;
  margin-top: -50px;
  
}

.balance-right {
  width: 40%;
  margin-right: 2%;
}

.assets-curve {
  height: max-content;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.balance-bottom1 {
  width: 95%;
  position:relative;
  margin-top: 30px;
  left: 2.5%;
}

.balance-bottom2 {
  width: 95%;
  left: 2.5%;
  position:relative;
  margin-top: 30px;
}

.balance-transaction {
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}


/*/////User Stocks//////*/
.show-stock-bar{
  width:"100%";
  position: relative;
}

.indicator-report-sheet{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardyes {
  /*float: left;*/
  max-width: 20%;
  padding: .75rem;
  margin-left: 20px;
  border: 0;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}

/* /////market CSS/////////////////////////////////////////////*/
.market-indicator{
  width: 100%;
  height: max-content;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;

}

/* /////管理员 CSS/////////////////////////////////////////////*/
.supervisor-interface {
    position: relative;
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 2%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 7%;
    border-style: solid;
    border-color: rgba(51, 122, 183, 0.1);
    border-width: 2px;
    border-radius: 30px;
    box-shadow: 0 0px 0px 0 #d3d3d3;
    box-sizing: border-box;
  }

  .scroll{
    max-height: 20rem;
    overflow: auto;
  }

  .search-div {
    margin-left:0%;
}

.balance{
    width:98%;
    height:fit-content;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 2%;

}

.balance2{
    width:98%;
    height:fit-content;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 2%;
}


.balance-layout {
    background: rgb(248, 248, 248);
    width:95%;
    height:max-content;
    margin-top: 6%;
    margin-left: 4%;
    border-radius: 2%;
    border-style: groove;
  }

  .balance-layout2 {
    background: rgb(248, 248, 248);
    width:95%;
    height:max-content;
    margin-top: 8.6%;
    margin-left: 0%;
    border-radius: 2%;
    border-style:groove;
  }

  .balance-layout3{
    background: rgb(248, 248, 248);
    width:94%;
    height:max-content;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 2%;
    border-style:groove;
  }

  .scroll2{
    max-height: 16rem;
    overflow: auto;
  }

  .scroll3{
    max-height: 190px;
    overflow: auto;
  }

  .scroll4{
    max-height: 300px;
    overflow: auto;
  }


  .icon-css{
    width: 7vh;
    height: 7vh;
    align-items: center;
    text-align: center;
    padding-top: 0vh;
    position:fixed;
    top:0%;
    left:0%;
    z-index:999
  }

  .market-layout1 {
    background: rgb(248, 248, 248);
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 0%;
    border-style:double;
  }


  @media screen and (max-width: 900px) and (min-width:600px) {
  
  .mybalance-container{
    position: relative;
    margin-left: 0;
    height:20%;
    gap:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }




  }

  @media screen and (max-width: 600px){
    .mybalance-container{
      position: relative;
      width: 100%;
      height:max-content;
      gap:1rem;
      display: grid;
      grid-template-columns: 1fr;
    }

    .Card-css1{
      width:80%;
      position: relative;
      border-radius: 5px;
      left: 15%;
      align-items: center;
      height: 100px;
      border-style: solid;
      border-color: rgba(51, 122, 183, 0.1);
      border-width: thin;
      background-color: #13297b;
      background-image: radial-gradient(farthest-side at 90% 90%, #93bff9,#1f72fa);
      box-shadow: 0 12px 20px 0 #AEAEAE;
      box-sizing: border-box;
    }
    
    .Card-css2{
      width:80%;
      position: relative;
      border-radius: 5px;
      height: 100px;
      left: 15%;
      border-style: solid;
      border-color: rgba(51, 122, 183, 0.1);
      border-width: thin;
      background-color: #13297b;
      background-image: radial-gradient(farthest-side at 90% 90%, #f9ae93,#f46c29);
      box-shadow: 0 12px 20px 0 #AEAEAE;
      box-sizing: border-box;
    }
    
    .Card-css3{
      width:80%;
      position: relative;
      border-radius: 5px;
      height: 100px;
      left: 15%;
      border-style: solid;
      border-color: rgba(51, 122, 183, 0.1);
      border-width: thin;
      background-color: #13297b;
      background-image: radial-gradient(farthest-side at 90% 90%, #8f91f9,#4144bd);
      box-shadow: 0 12px 20px 0 #AEAEAE;
      box-sizing: border-box;
    }
    
    
    .Card-css4{
      width:80%;
      position: relative;
      border-radius: 5px;
      height: 100px;
      left: 15%;
      border-style: solid;
      border-color: rgba(51, 122, 183, 0.1);
      border-width: thin;
      background-color: #13297b;
      background-image: radial-gradient(farthest-side at 90% 90%, #4bc2cd,#1a958e);
      box-shadow: 0 12px 20px 0 #AEAEAE;
      box-sizing: border-box;
    }


    .side-container-users{
      width:90%;
      height:max-content;
      top: 55%;
    
      position:relative;
      margin-left: 5%;
  
  }

  .row-padding{
    align-items: center;
    text-align: center;
    padding-bottom: 12%;
    padding-top: 12%;
}
    
  }

  /* 
    The out-most div in transaction platform 
    Set the margin-left for side-bar
    Set the margin-top for nav-bar 
*/


/* 
  Define the style of the div
  Border
  Background Color
*/




 
 